<!DOCTYPE html>

<html>
    <head>
        <title>Oatmeal detection</title>
        <!-- <meta http-equiv="refresh" content="1"> -->
        <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </head>

    <style>
        .hidden-audio {
            display: none;
        }

        body {
            background-color: #FFFDD0;
        }

    </style>

    <body>
        

        <div class="container">
            <div class="row">
              <div class="col-sm justify-content-center">
                <h2 class="text-center">Oatmeal Detection Server</h2>
              </div>
            </div>
          </div>

        <div class="container">
            <div class="row">
                <input type="button" value="Refresh" onclick="fetchImage()">
                <input type="button" value="Reset" onclick="resetDetection()">
            </div>
            <br>
            <br>
            <div class="row justify-content-center">
              <div class="col-sm">
                <div id="image-holder" class="justify-content-center">
                </div>
            </div>
          </div>
        </div>


        <p><b>Frames:</b> <i id="frame-counter"></i> </p>


        <div class="hidden-audio">

       

        {% for file in audio_files %}
        <audio controls id={{ url_for('static', filename=file) }}>
        <source src={{ url_for('static', filename=file) }} type="audio/mpeg">
        </audio>
        {% endfor %}

        </div>

        <!-- display flask template oatmeal_image, which is a base64 string -->
        <!-- <img src="{{ oatmeal_image }}" alt="oatmeal image" width="1080"> -->
        
        <br>
        
        <!-- <h3>Debug Info:</h3>
        <p><b>Date Image Last Uploaded:</b> {{ oatmeal_date }}</p>
        <p><b>Detection accuracy:</b> {{ accuracy }}</p>
        <p><b>Site Hits:</b> {{ site_counter }}</p>

        <p><b>Processed Base64 Image: </b> {{ oatmeal_image }} </p>

        <p><b>Unprocessed Base64 Image: </b> {{ oatmeal_image_unprocessed }} </p>

        <img src="{{ oatmeal_image_unprocessed }}" alt="oatmeal image" width="500" height="500"> -->

        <script>

        let image_ajaxSettings = {
            type: 'GET',
            url: "current_image",
            async: true,
            success: function (data) {
                // console.log(data);
            },
        };

        let state_ajaxSettings = {
            type: 'GET',
            url: "query-item-status",
            async: true,
            success: function (data) {
                console.log(data);
            },
        };
        
        async function fetchImage() {
            var image = new Image();
            image.src = await $.ajax(image_ajaxSettings);
            image.alt = "idk";
            image.width = 1080;
            image.style = "display: block; margin-left: auto; margin-right: auto; width: 80%;";

            //if image starts with "data:image/png;base64," then it is a base64 string
            //if image starts with "static/" then it is a path to a file
            if (!image.src.startsWith("data:image/png;base64,")) {
                image.src = "static/images/placeholder.gif";
            } 

            image_holder = document.getElementById("image-holder");
            image_holder.innerHTML = "";
            image_holder.appendChild(image);

            await fetchStateAndPlayAudioIfNeeded();

        }

        async function fetchStateAndPlayAudioIfNeeded() {
            var state = await $.ajax(state_ajaxSettings);
            console.log(state);

            document.getElementById("frame-counter").innerHTML = state["frame_hit_counter"];

            all_items_present = state.allRequiredItems_state;
            some_distractions = state.someDistractions_state;

            // all_items_present = true
            // some_distractions = false


            console.log("all_items_present: " + all_items_present);
            console.log("some_distractions: " + some_distractions);

            if (all_items_present && !some_distractions) {
                console.log("all required items are present");
                playHTMLAudio( document.getElementById("/static/allpresent.mp3") );
            }

            if (all_items_present && some_distractions) {
                console.log("all required items are present some distractors");
                playHTMLAudio( document.getElementById("/static/allpresentsomedistractors.mp3") );
            }


        }

        async function resetDetection() {
            var reset_ajaxSettings = {
                type: 'GET',
                url: "reset-detection",
                async: true,
                success: function (data) {
                    console.log(data);
                },
            };

            await $.ajax(reset_ajaxSettings);
        }

        function playHTMLAudio(audioDomElement) {
            audioDomElement.play();
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            fetchImage();
        });


        // run an image fetch every 0.5 seconds
        setInterval(fetchImage, 100);
        


        </script>

    </body>
</html>
