<!DOCTYPE html>

<html>
    <head>
        <title>Oatmeal detection</title>
        <meta http-equiv="refresh" content="1">
    </head>

    <body>
        <h2>DETECTION RESULT</h2>
        <p><b>Image name:</b> {{ image_name }}</p>
        <p><b>Site Hits:</b> {{ site_counter }}</p>

        <!-- display flask template oatmeal_image, which is a base64 string -->
        <img src="{{ oatmeal_image }}" alt="oatmeal image" width="1080">

        

        <br>
        
        <h3>Debug Info:</h3>
        <p><b>Date Image Last Uploaded:</b> {{ oatmeal_date }}</p>
        <p><b>Detection accuracy:</b> {{ accuracy }}</p>
        <p><b>Site Hits:</b> {{ site_counter }}</p>

        <p><b>Processed Base64 Image: </b> {{ oatmeal_image }} </p>

        <p><b>Unprocessed Base64 Image: </b> {{ oatmeal_image_unprocessed }} </p>

        <img src="{{ oatmeal_image_unprocessed }}" alt="oatmeal image" width="500" height="500">
    </body>
</html>
